.DS_Store

#XCode
iOS/build/
xcuserdata
profile

#Unity
example/Temp/*
example/Builds
*.meta
example/Library/*.db
example/Library/*.log
example/Library/metadata/*
example/Library/ScriptAssemblies/*
example/Library/ShaderCache/*
*.csproj
*.sln
*.userprefs
